[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-togglecursor"]
	path = bundle/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-rooter"]
	path = bundle/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-peepopen"]
	path = bundle/vim-peepopen
	url = https://github.com/shemerey/vim-peepopen.git
[submodule "bundle/msanders-snipmate.vim"]
	path = bundle/msanders-snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
